kubectl config set-cluster k8s-cloud-suse-de --server http://`terraform output kube-master-fip`:8080
kubectl config set-context k8s-cloud --cluster k8s-cloud-suse-de
kubectl config use-context k8s-cloud
