#cloud-config

package_upgrade: false

# Install additional packages on first boot
packages:
 - kubernetes-node
 - salt-minion

salt_minion:
  # conf contains all the directives to be assigned in /etc/salt/minion.
  conf:
    # Set the location of the salt master server, if the master server cannot be
    # resolved, then the minion will fail to start.
    master: ${dashboard}

# run commands
# default: none
# runcmd contains a list of either lists or a string
# each item will be executed in order at rc.local like level with
# output to the console
# - runcmd only runs during the first boot
# - if the item is a list, the items will be properly executed as if
#   passed to execve(3) (with the first arg as the command).
# - if the item is a string, it will be simply written to the file and
#   will be interpreted by 'sh'
#
# Note, that the list has to be proper yaml, so you have to quote
# any characters yaml would eat (':' can be problematic)
runcmd:
 - echo "master: ${dashboard}" > "${root}/config/minion.d/minion.conf"
